* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font: 30px 'Open Sans', sans-serif;
  color: #333; }

button {
  font-size: 0.7em;
  padding: 0.6em 1em;
  margin: 0;
  border-radius: 5px;
  border: none;
  color: #FFF;
  cursor: pointer;
  position: relative;
  top: 0;
  left: 0;
  border-bottom: 0px solid #999;
  outline: 0;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s; }
  button:hover {
    top: -0.3em;
    border-bottom-width: 0.3em; }
  button:active {
    top: 0;
    border-bottom-width: 0; }

footer {
  position: fixed;
  bottom: 0;
  top: 6em;
  width: 100%; }
  footer ul {
    list-style-type: none;
    width: 100%;
    padding: 20px 0;
    height: 3em;
    margin: 0;
    overflow: hidden; }
  footer li {
    float: right;
    margin-right: 1em; }

.row {
  overflow: hidden; }

.team {
  background: #EFEFEF;
  border-bottom: 0.2em solid #DDD;
  position: relative;
  overflow: hidden;
  height: 3em; }
  .team.active {
    background: #34495e;
    color: #ecf0f1;
    border-color: #2c3e50; }
  .team ul {
    margin: 0 0.75em 0 0;
    padding: 0;
    overflow: hidden;
    float: left; }
  .team h2, .team li {
    float: left;
    list-style-type: none;
    line-height: 1em;
    margin: 0 0.3em;
    padding: 0.5em 0;
    position: relative;
    z-index: 1; }
  .team h2 {
    margin-right: 1em;
    font-family: 'Source Sans Pro', sans-serif;
    outline: 0; }
  .team h2:before {
    display: inline-block;
    width: 30px;
    content: ' '; }
  .team.active h2:before {
    content: '»'; }
  .team .actions {
    float: right; }
  .team .progress {
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0em;
    left: 0;
    background-color: rgba(0, 0, 0, 0.08);
    z-index: 0;
    -webkit-transition: width 0.5s linear;
    -moz-transition: width 0.5s linear;
    transition: width 0.5s linear; }

.easy {
  background-color: #2ecc71;
  border-color: #25a259; }

.medium {
  background-color: #e67e22;
  border-color: #bf6516; }

.hard {
  background-color: #e74c3c;
  border-color: #d62a1a; }

.extend {
  background-color: #3498DB;
  border-color: #217dbb; }

.friend {
  background-color: #9B59B6;
  border-color: #7f4399; }

.disabled {
  background: #CCC;
  color: #999;
  text-decoration: line-through;
  border-color: #999; }

.team-container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.timer-container {
  width: 100%;
  height: 100%;
  padding-top: 200px;
  display: table; }

#timer {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  font-size: 15em;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif; }

#powerTip {
  font-size: 0.8em;
  padding: 6px 10px; }
